<div class="container">

  <div class="user">
    <h2 class="title title--small">Olá,</h2>
    <h2 class="title title--large">Usuário!</h2>
  </div>

  <div class="balance">
    <h2 class="title title--small">Total</h2>
    <div class="balance__content">
      <span class="title title--large">0</span>
      <mat-icon class="icon">diamond</mat-icon>
    </div>
  </div>

  <div class="services">
    <div class="services__item">
      <mat-icon class="icon">diamond</mat-icon>
      <h3 class="subtitle subtitle--small">Premiação</h3>
    </div>

    <div class="services__item">
      <mat-icon class="icon">my_location</mat-icon>
      <h3 class="subtitle subtitle--small">RM</h3>
    </div>

    <div class="services__item">
      <mat-icon class="icon">contact_support</mat-icon>
      <h3 class="subtitle subtitle--small">Dúvidas</h3>
    </div>

    <div class="services__item">
      <mat-icon class="icon">apps</mat-icon>
      <h3 class="subtitle subtitle--small">Mais</h3>
    </div>
  </div>

  <div class="tracking">
    <h2 class="title title--medium">Rastreamento de materiais</h2>
    <p class="subtitle subtitle--medium">
      Acesse o RM para visualizar e gerenciar o destino de materiais e equipamentos.
    </p>
    <span class="subtitle subtitle--orange">Explorar</span>
  </div>

  <div class="discover">
    <div class="discover__content">
      <div class="discover__item">
        <mat-icon class="icon icon--large">history</mat-icon>
        <h2 class="subtitle subtitle--large">Veja suas premiações</h2>
      </div>

      <div class="discover__item">
        <mat-icon class="icon icon--large">map</mat-icon>
        <h2 class="subtitle subtitle--large">Registre um novo rastreamento</h2>
      </div>
    </div>
  </div>

  <div class="help">
    <h2 class="subtitle subtitle--large">Central de ajuda</h2>
    <mat-icon class="icon">arrow_right</mat-icon>
  </div>
</div>
