<div class="container">
  <header class="header">
    <div class="config">
      <mat-icon class="config__icon">person</mat-icon>
      <mat-icon class="config__icon">notifications</mat-icon>
      <mat-icon class="config__icon">settings</mat-icon>
    </div>

    <div class="user">
      <mat-icon class="user__icon">flag</mat-icon>
      <h3 class="user__title">Confira o status da obra.</h3>
    </div>
  </header>

  <div class="task">
    <h2 class="task__title">Tarefas</h2>
    <div class="task__content">
      <div class="task__item">
        <mat-icon class="task__icon">add</mat-icon>
        <p class="task__subtitle">Cadastrar tarefa</p>
      </div>

      <div class="task__item">
        <mat-icon class="task__icon">settings</mat-icon>
        <p class="task__subtitle">Gerenciar tarefas</p>
      </div>
    </div>
  </div>

  <div class="discover">
    <h2 class="discover__title">Controle de material</h2>
    <div class="discover__content">
      <div class="discover__item">
        <mat-icon class="discover__icon">list</mat-icon>
        <p class="discover__subtitle">Lista de pedidos</p>
      </div>

      <div class="discover__item">
        <mat-icon class="discover__icon">download</mat-icon>
        <p class="discover__subtitle">Receber pedido</p>
      </div>

      <div class="discover__item">
        <mat-icon class="discover__icon">inventory</mat-icon>
        <p class="discover__subtitle">Estoque</p>
      </div>
    </div>
  </div>

  <div class="tracking">
    <h2 class="tracking__title">Controle de equipamentos</h2>
    <div class="tracking__content">
      <div class="tracking__item">
        <mat-icon class="tracking__icon">send</mat-icon>
        <p class="tracking__subtitle">Enviar equipamento</p>
      </div>

      <div class="tracking__item">
        <mat-icon class="tracking__icon">download</mat-icon>
        <p class="tracking__subtitle">Receber equipamento</p>
      </div>

      <div class="tracking__item">
        <mat-icon class="tracking__icon">settings</mat-icon>
        <p class="tracking__subtitle">Meus envios</p>
      </div>
    </div>
  </div>

  <div class="discover">
    <h2 class="discover__title">Operacional</h2>
    <div class="discover__content">
      <div class="discover__item">
        <mat-icon class="discover__icon">group</mat-icon>
        <p class="discover__subtitle">Equipes</p>
      </div>

      <div class="discover__item">
        <mat-icon class="discover__icon">list</mat-icon>
        <p class="discover__subtitle">Folha de ponto</p>
      </div>
    </div>
  </div>

  <div class="logout">
    <h2 class="logout__title">Fazer logout</h2>
    <div class="logout__content">
      <div class="logout__item">
        <mat-icon class="logout__icon">logout</mat-icon>
        <p class="logout__subtitle">Sair</p>
      </div>
    </div>
  </div>
</div>
