<form [formGroup]="createForm" (ngSubmit)="onSubmit()" class="container">

  <section class="section" *ngIf="currentStep === 1  && !isLoading && !isSuccess && !isServerError">

    <header class="section__header">
      <mat-icon routerLink="/dashboard" class="section__icon">close</mat-icon>
      <h1 class="section__title">Qual é o endereço da sua <strong>residência?</strong></h1>
    </header>

    <div>
      <label class="section__label">
        Insira o endereço

        <input
        type="text"
        formControlName="endereco"
        placeholder="Rua Arthur Lopes, 218"
        enterkeyhint="next"
        (keydown.enter)="$event.preventDefault(); nextStep()"
        class="section__input">
      </label>
    </div>

    <footer class="section__footer">
      <button
        type="button"
        (click)="nextStep()"
        [disabled]="!createForm.get('endereco')?.valid"
        class="section__button">
        Continuar
      </button>
    </footer>
  </section>

  <section class="section" *ngIf="currentStep === 2 && !isLoading && !isSuccess && !isServerError">

    <header class="section__header">
      <mat-icon (click)="prevStep()" class="section__icon">arrow_back_ios_new</mat-icon>
      <h1 class="section__title">Nos diga o <strong>motivo</strong> do cancelamento</h1>
    </header>

    <div class="section__content">
      <label class="section__label">Selecione uma opção</label>

      <label
        *ngFor="let reason of reasons"
        class="section__label section__label--list">
        {{ reason }}

        <input
        type="radio"
        formControlName="motivo"
        [value]="reason">
      </label>
    </div>

    <footer class="section__footer">
      <button
        type="button"
        (click)="nextStep()"
        [disabled]="!createForm.get('motivo')?.valid"
        class="section__button">
        Continuar
      </button>
    </footer>
  </section>

  <section class="section" *ngIf="currentStep === 3 && !isLoading && !isSuccess && !isServerError">
    <header class="section__header">
      <mat-icon (click)="prevStep()" class="section__icon">arrow_back_ios_new</mat-icon>
      <h1 class="section__title"><strong>Termos e condições</strong> do cancelamento</h1>
    </header>

    <div>
      <label class="section__label">
        Após o preenchimento e envio, o RH dará retorno em até 48 horas. A alteração será efetivada na próxima folha de
        pagamento, desde que ainda esteja dentro do prazo de fechamento. Qualquer necessidade futura de restabelecimento
        do benefício deverá ser formalizada por meio de novo formulário de solicitação.
      </label>
    </div>

    <footer class="section__footer">
      <button
        type="submit"
        class="section__button">
        Eu Aceito
      </button>
    </footer>
  </section>

  <section class="section" *ngIf="isLoading && !isSuccess && !isServerError">
    <div class="loading">
      <div class="loading__dot"></div>
      <div class="loading__dot"></div>
      <div class="loading__dot"></div>
    </div>
  </section>

  <section class="section" *ngIf="isSuccess && !isLoading && !isServerError">
    <header class="section__header">
      <mat-icon routerLink="/dashboard" class="section__icon">close</mat-icon>
    </header>

    <div class="section__content section__content--status">
      <img [src]="successIllustration" class="section__image">
      <h3 class="section__title">Show de bola!</h3>
      <p class="section__subtitle">
        Sua solicitação foi enviado com sucesso e será analisada pelo setor responsável. Missão quase completa!
      </p>
    </div>

    <footer class="section__footer">
      <button type="button" routerLink="/dashboard" class="section__button">Início</button>
    </footer>
  </section>

  <section class="section" *ngIf="isServerError && !isLoading && !isSuccess">
    <header class="section__header">
      <mat-icon routerLink="/dashboard" class="section__icon">close</mat-icon>
    </header>

    <div class="section__content section__content--status">
      <img [src]="serverErrorIllustration" class="section__image">
      <h3 class="section__title">Não pode ser...!</h3>
      <p class="section__subtitle">
        Parece que nosso servidor não está funcionando como deveria. Por favor, tente outra hora!
      </p>
    </div>

    <footer class="section__footer">
      <button type="button" routerLink="/dashboard" class="section__button">Sair</button>
    </footer>
  </section>

</form>
