<div class="skeleton-list">
  <div class="skeleton-card" *ngFor="let card of cards">
    <div class="skeleton-card__header">
      <div class="skeleton-card__content">
        <div class="skeleton-card__tags">
          <div class="skeleton skeleton--tag"></div>
          <div class="skeleton skeleton--tag"></div>
        </div>
        <div class="skeleton skeleton--title"></div>
        <div class="skeleton skeleton--subtitle"></div>
      </div>
      <div class="skeleton skeleton--action"></div>
    </div>
  </div>
</div>
