<div class="container">

  <header class="header">
    <mat-icon class="header__button" (click)="onNavigation()">exit_to_app</mat-icon>
    <h2 class="header__title">{{ title }}</h2>
  </header>

  <div class="cards">
    <div class="card" *ngFor="let item of data" (click)="onCardClick(item)">

      <!-- IMAGEM -->
      <div *ngIf="item.foto" class="card__media">
        <img class="card__image" [src]="'https://sameengenharia.com.br/api/equipament/file/' + item.foto" [alt]="item.name" />
      </div>

      <div *ngIf="!item.foto" class="card__media">
        <mat-icon class="card__icon">{{ iconCard }}</mat-icon>
      </div>

      <div class="card__info">
        <ng-container *ngFor="let field of fields">

          <!-- EQUIPAMENTO -->
          <div class="card__field" *ngIf="field.type === 'title'">
            <div class="card__text">
              <label class="card__title">{{ field.label }}</label>
              <p class="card__subtitle" [id]="item[field.name]">{{ item[field.name] }}</p>
            </div>
          </div>

          <!-- DATA -->
          <div class="card__field" *ngIf="field.type === 'date'">
            <div class="card__text">
              <label class="card__title">{{ field.label }}</label>
              <p class="card__subtitle" [id]="item[field.name]">{{ item[field.name] | date:'dd/MM/yyyy' }}</p>
            </div>
          </div>

          <!-- DESTINO/LOCALIZAÇÃO -->
          <div class="card__field" *ngIf="field.type === 'text'">
            <div class="card__text">
              <label class="card__title">{{ field.label }}</label>
              <p class="card__subtitle">{{ item[field.name] }}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="backdrop" *ngIf="isBottomSheetOpen" (click)="closeBottomSheet()">
  </div>

  <div class="bottom-sheet" [class.bottom-sheet--open]="isBottomSheetOpen">
    <div class="bottom-sheet__content">
      <div class="bottom-sheet__info" *ngIf="selectedItem">
        <ng-container *ngFor="let field of fields">
          <div class="bottom-sheet__field" *ngIf="field.type === 'bottomSheet'">
            <label class="bottom-sheet__label">{{ field.label }}</label>
            <p class="bottom-sheet__value">{{ selectedItem[field.name] }}</p>
          </div>
        </ng-container>

        <div class="bottom-sheet__actions">
          <button class="bottom-sheet__button" (click)="downloadQRCode()">
            Baixar QR Code
          </button>
          <button class="bottom-sheet__button" (click)="shareQRCode()">
            Compartilhar QR Code
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
