<div class="container">

  <header class="header">
    <mat-icon class="header__button" routerLink="/dashboard">exit_to_app</mat-icon>
    <h2 class="header__title">{{ title }}</h2>
  </header>

  <div class="cards">
    <div class="card" *ngFor="let item of data">

      <!-- IMAGEM -->
      <div *ngIf="item.foto" class="card__photo">
        <img class="card__image" [src]="'https://sameengenharia.com.br/api/equipament/file/' + item.foto" [alt]="item.name" />
      </div>

      <div class="card__info">
        <ng-container *ngFor="let field of fields">

          <!-- EQUIPAMENTO -->
          <div class="card__field" *ngIf="field.type === 'title'">
            <div class="card__text">
              <label class="card__title">{{ field.label }}</label>
              <p class="card__subtitle" [id]="item[field.name]">{{ item[field.name] }}</p>
            </div>
          </div>

          <!-- DATA -->
          <div class="card__field" *ngIf="field.type === 'date'">
            <div class="card__text">
              <label class="card__title">{{ field.label }}</label>
              <p class="card__subtitle" [id]="item[field.name]">{{ item[field.name] }}</p>
            </div>
          </div>

          <!-- DESTINO/LOCALIZAÇÃO -->
          <div class="card__field" *ngIf="field.type === 'text'">
            <div class="card__text">
              <label class="card__title">{{ field.label }}</label>
              <p class="card__subtitle">{{ item[field.name] }}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

</div>