<div class="container">
  <header class="section__header">
    <div class="section__content section__content--header">
      <div class="section__header--top">
        <img [src]="avatar" class="section__header--avatar">
      </div>

      <div class="section__header--bottom">
        <mat-icon class="section__icon section__icon--large">flag</mat-icon>
        <h3 class="section__subtitle">Confira o status da obra!</h3>
      </div>
    </div>
  </header>

  <section class="section">
    <h2 class="section__title">Tarefa</h2>
    <div class="section__content">
      <div class="section__item" routerLink="/dashboard/new-task">
        <mat-icon class="section__icon section__icon--small">add</mat-icon>
        <p class="section__subtitle">Cadastrar tarefa</p>
      </div>
      <div class="section__item" routerLink="/dashboard/manage-task">
        <mat-icon class="section__icon section__icon--small">folder</mat-icon>
        <p class="section__subtitle">Gerenciar tarefas</p>
      </div>
    </div>
    <div class="section__content">
      <div class="section__span" (click)="openForm()">
        <mat-icon class="section__icon section__icon">campaign</mat-icon>
        <div class="section__text">
          <p class="section__subtitle section__subtitle--bold">Fala aí!</p>
          <p class="section__subtitle">Sua voz a favor da ética. 100% Anônimo!</p>
        </div>
        <mat-icon class="section__icon section__icon--small">chevron_right</mat-icon>
      </div>
    </div>
  </section>

  <section class="section">
    <h2 class="section__title">Equipamento</h2>
    <div class="section__content">
      <div class="section__item section__item" routerLink="/dashboard/equipment-rental">
        <mat-icon class="section__icon section__icon--small">construction</mat-icon>
        <p class="section__subtitle">Cadastrar locação</p>
      </div>
      <div class="section__item section__item--disabled">
        <mat-icon class="section__icon section__icon--small">send</mat-icon>
        <p class="section__subtitle">Enviar equipamento</p>
      </div>
      <div class="section__item section__item--disabled">
        <mat-icon class="section__icon section__icon--small">download</mat-icon>
        <p class="section__subtitle">Receber equipamento</p>
      </div>
      <div class="section__item section__item--disabled">
        <mat-icon class="section__icon section__icon--small">local_shipping</mat-icon>
        <p class="section__subtitle">Meus envios</p>
      </div>
    </div>
  </section>

  <section class="section">
    <h2 class="section__title">Material</h2>
    <div class="section__content">
      <div class="section__item section__item--disabled">
        <mat-icon class="section__icon section__icon--small">list_alt</mat-icon>
        <p class="section__subtitle">Lista de pedidos</p>
      </div>
      <div class="section__item section__item--disabled">
        <mat-icon class="section__icon section__icon--small">download</mat-icon>
        <p class="section__subtitle">Receber pedido</p>
      </div>
      <div class="section__item section__item--disabled">
        <mat-icon class="section__icon section__icon--small">inventory</mat-icon>
        <p class="section__subtitle">Estoque</p>
      </div>
    </div>
  </section>

  <section class="section">
    <h2 class="section__title">Operacional</h2>
    <div class="section__content">
      <div class="section__item section__item--disabled">
        <mat-icon class="section__icon section__icon--small">group</mat-icon>
        <p class="section__subtitle">Equipes</p>
      </div>
      <div class="section__item section__item--disabled">
        <mat-icon class="section__icon section__icon--small">assignment</mat-icon>
        <p class="section__subtitle">Folha de ponto</p>
      </div>
    </div>
  </section>

  <section class="section">
    <h2 class="section__title">Meu Transporte</h2>
    <div class="section__content">
      <div class="section__item" routerLink="/dashboard/request-transport">
        <mat-icon class="section__icon section__icon--small">directions_bus</mat-icon>
        <p class="section__subtitle">Solicitar VT</p>
      </div>

      <div class="section__item" routerLink="/dashboard/cancel-transport">
        <mat-icon class="section__icon section__icon--small">no_transfer</mat-icon>
        <p class="section__subtitle">Cancelar VT</p>
      </div>
    </div>
  </section>

  <footer class="section">
    <h2 class="section__title">Mais opções</h2>
    <div class="section__content">
      <div class="section__item section__item--disabled">
        <mat-icon class="section__icon section__icon--small">settings</mat-icon>
        <p class="section__subtitle">Configuração</p>
      </div>

      <div class="section__item section__item--logout" (click)="onLogout()">
        <mat-icon class="section__icon section__icon--small section__icon section__icon--small">logout</mat-icon>
        <p class="section__subtitle section__subtitle">Sair</p>
      </div>

    </div>
  </footer>
</div>
