$light-white: #FCFCFC;

$dark-blue: #003278;
$dark-white: #F3F3F3;
$dark-black: #050505;

$gap-small: clamp(0.75rem, 0.75rem + 0vw, 0.75rem);
$gap-medium: clamp(1.25rem, 1.25rem + 0vw, 1.25rem);

$padding-small: clamp(0.625rem, 0.625rem + 0vw, 0.625rem);
$padding-medium: clamp(1.25rem, 1.0983rem + 0.6472vw, 1.875rem);

$border--small: 12px;

$fs-small: clamp(0.75rem, 0.7197rem + 0.1294vw, 0.875rem);
$fs-medium: clamp(1rem, 1rem + 0vw, 1rem);

$img-small: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
$img-large: clamp(1.5rem, 1.5rem + 0vw, 1.5rem);

.container {
  width: 100%;
  height: 100vh;
  height: 100dvh;

  display: flex;
  align-items: start;
  flex-direction: column;

  background-color: $light-white;
}

.section {
  width: 100%;
  height: auto;

  gap: $gap-small;
  padding: $padding-medium;

  display: flex;
  align-items: start;
  flex-direction: column;
  border-bottom: 2px solid $dark-white;

  &__header {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;

    gap: $gap-medium;
    padding: $padding-medium;

    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../../../public/assets/images/banner.png');

    &--top {
      width: 42px;
      height: 42px;

      display: flex;
      align-items: center;
      justify-content: center;

      overflow: hidden;
      border-radius: 50%;
    }

    &--bottom {
      display: flex;
      align-items: center;
      justify-content: start;

      color: $dark-blue;

      gap: $gap-small;
      padding: $padding-medium;

      border-radius: $border--small;
      background-color: #F3F3F3;
    }

    &--avatar {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font-weight: 500;
    font-size: $fs-medium;

    &--username {
      color: $dark-white;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: $fs-small;

    &--bold {
      font-weight: 600;
    }
  }

  &__content {
    width: 100%;
    display: flex;

    gap: $gap-medium;

    overflow-y: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &--header {
      display: flex;
      flex-direction: column;
    }
  }

  &__item {
    width: 110px;
    height: auto;

    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;

    cursor: pointer;
    gap: $gap-medium;
    padding: $padding-small;

    border-radius: $border--small;
    background-color: $dark-white;

    flex-shrink: 0;

    &--logout {
      color: $dark-white;
      background-color: rgb(220, 53, 69, 0.7);
    }

    &--disabled {
      color: #cccccc;
    }
  }

  &__span {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    gap: $gap-small;
    padding: $padding-small;

    border-radius: $border--small;
    background-color: $dark-white;
  }

  &__icon {

    display: flex;
    align-items: center;
    justify-content: center;

    &--small {
      font-size: $img-small;
    }

    &--medium {
      font-size: $img-large;
    }
  }
}

@media (min-width: 768px) {
  .container {
    height: auto;
    align-items: center;
  }

  .section {
    max-width: 600px;
    border: none;

    &__header {
      padding: 0;
      align-items: center;

      &--bottom {
        padding: $padding-small;
      }
    }

    &__content--header {
      display: flex;
      flex-direction: column;
      max-width: 600px;
      padding: $padding-medium;
    }
  }
}
