<div class="container">

  @if (showMessage) {
  <div class="message" [ngClass]="messageType">{{ message }}</div>
  }

  <div class="form">
    <div class="form__header">
      <h2 class="form__title">Entrar</h2>
      <p class="form__subtitle">Sistema Same Engenharia</p>
    </div>

    @if (loginMode === 'cpf') {
    <form [formGroup]="cpfForm" (ngSubmit)="onSubmit()" class="form__content">
      <div class="form__group">
        <label class="form__label">CPF</label>
        <input type="text" placeholder="000.000.000-00" formControlName="cpf" mask="000.000.000-00"
          [class.invalid]="isInvalid(cpfForm, 'cpf')" class="form__input">
      </div>

      <footer class="form__footer">
        <button type="submit" [disabled]="cpfForm.invalid || isLogin" class="btn btn--primary">
          @if (isLogin) {
          <div class="loading">
            <div class="loading__dot"></div>
            <div class="loading__dot"></div>
            <div class="loading__dot"></div>
          </div>
          } @else {
          Entrar
          }
        </button>
        <button type="button" (click)="toggleLoginMode()" class="btn btn--secondary">Entrar com usuário e senha</button>
      </footer>
    </form>
    } @else {
    <form [formGroup]="usernameForm" (ngSubmit)="onSubmit()" class="form__content">
      <div class="form__group">
        <label class="form__label">Usuário</label>
        <input type="text" placeholder="Digite seu usuário" formControlName="username"
          [class.invalid]="isInvalid(usernameForm, 'username')" class="form__input">
      </div>

      <div class="form__group">
        <label class="form__label">Senha</label>
        <input type="password" placeholder="Digite sua senha" formControlName="password"
          [class.invalid]="isInvalid(usernameForm, 'password')" class="form__input">
      </div>

      <footer class="form__footer">
        <button type="submit" [disabled]="usernameForm.invalid || isLogin" class="btn btn--primary">
          @if (isLogin) {
          <div class="loading">
            <div class="loading__dot"></div>
            <div class="loading__dot"></div>
            <div class="loading__dot"></div>
          </div>
          } @else {
          Entrar
          }
        </button>
        <button type="button" (click)="toggleLoginMode()" class="btn btn--secondary">Entrar com CPF</button>
      </footer>
    </form>
    }
  </div>
</div>
