<div class="container">
  <app-dynamic-form
    [sections]="formSections"
    [submitButtonText]="'Registrar Localização'"
    [submissionState]="submissionState"
    [errorMessage]="errorMessage"
    [successMessage]="'Localização do equipamento registrada com sucesso!'"
    (formSubmit)="onSubmit($event)"
    [asideTitle]="'Check-in'"
    [asideContent]="'Scannei o qrCode impresso no equipamento e informe o endereço de destino! Nos ajude a manter o controle dos nossos equipamentos.'">
  </app-dynamic-form>
</div>
