$light-gray: #878787;
$light-white: #FCFCFC;
$light-red: #ff5757;
$light-green: #4bd28f;

$dark-black: #303030;
$dark-red: #DC3545;
$dark-blue: #003278;
$dark-white: #F3F3F3;

$gp-sm: clamp(0.5rem, 0.5rem + 0vw, 0.5rem);
$gp-md: clamp(1rem, 1rem + 0vw, 1rem);
$gp-lg: clamp(1.5rem, 1.5rem + 0vw, 1.5rem);

$pd-sm: clamp(0.75rem, 0.75rem + 0vw, 0.75rem);
$pd-md: clamp(1.25rem, 1.25rem + 0vw, 1.25rem);

$bd-sm: 2px;
$bd-df: 4px;
$bd-lg: 6px;
$bd-xx: 8px;

$fs-sm: clamp(0.5rem, 0.5rem + 0vw, 0.5rem);
$fs-md: clamp(0.75rem, 0.75rem + 0vw, 0.75rem);
$fs-mdx: clamp(0.8125rem, 0.8125rem + 0vw, 0.8125rem);
$fs-lg: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);

$icon-sm: 24px;
$icon-lg: 80px;

$bp-tablet: 1024px;
$bp-desktop: 1440px;
$bp-large: 1920px;

$bp-tablet-max: 1439px;
$bp-desktop-max: 1919px;

.container {
  width: 100%;
  height: auto;

  display: grid;
  grid-template-rows: auto 1fr;
  gap: $gp-md;

  padding: $pd-md;
  background-color: $light-white;
}

.header {
  width: 100%;
  height: auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

  &__title {
    font-weight: 500;
    font-size: $fs-mdx;
    text-align: center;
  }

  &__button {
    color: $dark-blue;
    cursor: pointer;
  }
}

.card {
  width: 100%;
  height: auto;

  gap: $gp-md;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  padding: $pd-sm;
  border-radius: $bd-lg;
  border: 2px solid $dark-white;

  &__flex {
    display: flex;
    align-items: center;
    gap: $gp-sm;
  }

  &__photo {
    width: 80px;
    height: 80px;
    min-width: 80px;
    object-fit: cover;
    border-radius: $bd-df;

    @media (min-width: $bp-tablet) {
      width: 100px;
      height: 100px;
      min-width: 100px;
    }

    @media (min-width: $bp-desktop) {
      width: 120px;
      height: 120px;
      min-width: 120px;
    }
  }

  &__info {
    width: auto;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: $gp-sm;
  }

  &__title {
    font-weight: 600;
    color: $dark-black;
    font-size: $fs-mdx;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__subtitle {
    font-weight: 500;
    color: $light-gray;
    font-size: $fs-mdx;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__icon {
    width: $fs-mdx;
    height: $fs-mdx;
    font-size: $fs-mdx;
    color: $light-gray;
    flex-shrink: 0;
  }

  &__button {
    width: auto;
    height: auto;

    display: flex;
    align-items: start;

    padding: 2px;
    color: $dark-blue;
    border-radius: $bd-lg;
    border: 2px solid $dark-blue;
    background-color: transparent;
    cursor: pointer;
  }
}
