<div class="container">
  <app-dynamic-form
    [sections]="formSections"
    [submitButtonText]="'Enviar Solicitação'"
    [submissionState]="submissionState"
    [errorMessage]="errorMessage"
    [successMessage]="'Solicitação enviado com sucesso!'"
    (formSubmit)="onSubmit($event)"
    [asideTitle]="'Termos e condições da solicitação'"
    [asideContent]="'Após o preenchimento e envio, o RH dará retorno em até 48 horas. A alteração será efetivada na próxima folha de pagamento, desde que ainda esteja dentro do prazo de fechamento. Qualquer necessidade futura de restabelecimento do benefício deverá ser formalizada por meio de novo formulário de solicitação.'">
  </app-dynamic-form>
</div>
