<div class="container">
  <header class="header">
    <h1 class="header__title">{{ getUser(userData.nome) }}</h1>
  </header>
  @for (section of sections; track section.title; let index = $index) {
  <section class="section" [class.section__banner]="index === 0">
    <h2 class="section__title">{{ section.title }}</h2>
    <div class="section__card">
      @for (card of section.cards; track card.title) {
      <div class="card" (click)="handleCardClick(card)">
        <mat-icon class="card__icon">{{ card.icon }}</mat-icon>
        <h3 class="card__title">{{ card.title }}</h3>
      </div>
      }
    </div>
  </section>
  }
</div>
