$fs-xs: 12px;
$fs-sm: 14px;
$fs-md: 16px;
$fs-lg: 18px;
$fs-xl: 20px;
$fs-xx: 24px;

$pd-xs: 4px;
$pd-sm: 8px;
$pd-md: 12px;
$pd-lg: 16px;
$pd-xl: 24px;

$gp-xs: 4px;
$gp-sm: 8px;
$gp-md: 12px;
$gp-lg: 16px;
$gp-xl: 24px;

$mg-xs: 4px;
$mg-sm: 8px;
$mg-md: 12px;
$mg-lg: 16px;
$mg-xl: 24px;

$bd-df: 6px;

$dark-blue: #003278;
$dark-white: #F3F3F3;
$dark-black: #050505;
$dark-gray: #808080;

$light-white: #FCFCFC;
$light-gray: #C0C0C0;
$light-black: #303030;

.container {
  width: 100%;
  height: 100%;

  padding: $gp-xl;
  background-color: $dark-white;
}

.section {
  width: 100%;
  height: 100%;

  gap: $gp-xl;

  display: grid;
  grid-template-rows: auto 1fr auto;

  &__header {
    gap: $gp-lg;

    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
  }

  &__content {
    display: flex;
    flex-direction: column;

    overflow: auto;
  }

  &__footer {
    width: 100%;
    height: 100%;
  }

  &__label {
    width: 100%;
    height: auto;

    color: $dark-gray;

    &--checkbox {
      display: flex;
      align-items: center;
      justify-content: start;

      cursor: pointer;
      font-size: $fs-lg;

      padding: $pd-md 0;
      border-bottom: 1px solid $light-gray;

      input[type="checkbox"] {
        display: none;
      }

      &:has(input[type="checkbox"]:checked) {
        background-color: rgb(192, 192, 192, 0.4);
      }
    }

    &--file {
      width: 100%;
      height: 100%;

      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      gap: $gp-lg;

      border-radius: $bd-df;
      border: 2px dashed $dark-blue;
    }
  }

  &__input {
    width: 100%;
    height: auto;

    font-weight: 500;
    font-size: $fs-lg;
    color: $light-black;

    padding: $pd-md 0;

    border: none;
    outline: none;
    border-bottom: 1px solid $light-gray;
    background-color: transparent;

    &::placeholder {
      color: $light-gray;
    }

    &--file {
      display: none;
    }
  }

  &__title {
    color: $light-black;

    font-size: $fs-xx;
    font-weight: 500;
  }

  &__span {
    width: 80%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    color: $dark-gray;
    text-align: center;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    &--header {
      color: $dark-gray;
    }

    &--file {
      width: 100%;
      height: auto;
      font-size: 54px;
      color: $dark-blue;
    }
  }

  &__button {
    width: 100%;

    color: $dark-white;

    border: none;
    border-radius: $bd-df;
    cursor: pointer;

    padding: $pd-lg;
    background-color: $dark-blue;
  }
}
