<form [formGroup]="createForm" (ngSubmit)="onSubmit()" class="container">
  <section class="section" *ngIf="currentStep === 1 && !isLoading && !isSend && !isError">
    <header class="section__header">
      <mat-icon class="section__icon section__icon--header" routerLink="/dashboard">close</mat-icon>
      <h3 class="section__title">Qual foi a atividade realizada?</h3>
    </header>

    <div class="section__content">
      <label class="section__label">Insira a descrição da atividade</label>
      <input type="text" placeholder="Descrição" formControlName="descricao" class="section__input">
    </div>

    <div class="section__footer">
      <button type="button" class="section__button" (click)="nextStep()">Continuar</button>
    </div>
  </section>

  <section class="section" *ngIf="currentStep === 2 && !isLoading && !isSend && !isError">
    <header class="section__header">
      <mat-icon class="section__icon section__icon--header" routerLink="/dashboard">close</mat-icon>
      <h3 class="section__title">Qual a data de <strong>início</strong> da atividade?</h3>
    </header>

    <div class="section__content">
      <label class="section__label">Insira a data inicial</label>
      <input type="date" formControlName="dataInicial" class="section__input">
    </div>

    <div class="section__footer">
      <button type="button" class="section__button" (click)="nextStep()">Continuar</button>
    </div>
  </section>

  <section class="section" *ngIf="currentStep === 3 && !isLoading && !isSend && !isError">
    <header class="section__header">
      <mat-icon class="section__icon section__icon--header" routerLink="/dashboard">close</mat-icon>
      <h3 class="section__title">Qual a data de <strong>término</strong> da atividade?</h3>
    </header>

    <div class="section__content">
      <label class="section__label">Insira a data final</label>
      <input type="date" formControlName="dataFinal" class="section__input">
    </div>

    <div class="section__footer">
      <button type="button" class="section__button" (click)="nextStep()">Continuar</button>
    </div>
  </section>

  <section class="section" *ngIf="currentStep === 4 && !isLoading && !isSend && !isError">
    <header class="section__header">
      <mat-icon class="section__icon section__icon--header" (click)="prevStep()">arrow_back_ios</mat-icon>
      <h3 class="section__title">Selecione quem será bonificado</h3>
    </header>

    <div class="section__content">
      <label class="section__label">Lista de colaboradores</label>

      <div class="section__item" formArrayName="bonificados">
        <label *ngFor="let emp of employees; let i = index" for="{{ emp.id }}" class="section__label--checkbox">
          {{ emp.nome }}
          <input id="{{ emp.id }}" type="checkbox" [formControlName]="i"
            class="section__input section__input--checkbox">
        </label>
      </div>
    </div>


    <div class="section__footer">
      <button type="button" class="section__button" (click)="nextStep()">Continuar</button>
    </div>
  </section>

  <section class="section" *ngIf="currentStep === 5 && !isLoading && !isSend && !isError">
    <header class="section__header">
      <mat-icon class="section__icon section__icon--header" (click)="prevStep()">arrow_back_ios</mat-icon>
      <h3 class="section__title">Qual o valor da bonificação para <strong>pedreiro</strong>?</h3>
    </header>

    <div class="section__content">
      <label class="section__label">Insira o valor</label>
      <input type="number" placeholder="R$ 0,00" formControlName="valor_pedreiro" inputmode="numeric" pattern="[0-9]*"
        class="section__input">
    </div>

    <div class="section__footer">
      <button type="button" class="section__button" (click)="nextStep()">Continuar</button>
    </div>
  </section>

  <section class="section" *ngIf="currentStep === 6 && !isLoading && !isSend && !isError">
    <header class="section__header">
      <mat-icon class="section__icon section__icon--header" (click)="prevStep()">arrow_back_ios</mat-icon>
      <h3 class="section__title">Qual o valor da bonificação para <strong>servente</strong>?</h3>
    </header>

    <div class="section__content">
      <label class="section__label">Insira o valor</label>
      <input type="number" placeholder="R$ 0,00" formControlName="valor_servente" inputmode="numeric" pattern="[0-9]*"
        class="section__input">
    </div>

    <div class="section__footer">
      <button type="button" class="section__button" (click)="nextStep()">Continuar</button>
    </div>
  </section>

  <section class="section" *ngIf="currentStep === 7 && !isLoading && !isSend && !isError">
    <header class="section__header">
      <mat-icon class="section__icon section__icon--header" (click)="prevStep()">arrow_back_ios</mat-icon>
      <h3 class="section__title">Anexe a foto da sua prancheta</h3>
    </header>

    <div class="section__content">
      <label class="section__label--file">
        <mat-icon class="section__icon section__icon--file">cloud_upload</mat-icon>
        <span class="section__span">
          {{ uploadedFile ? uploadedFile.name : 'Clique aqui para anexar a imagem' }}
        </span>
        <input type="file" accept="image/*" formControlName="foto_prancheta" (change)="onFileChange($event)"
          class="section__input--file">
      </label>
    </div>

    <div class="section__footer">
      <button type="submit" class="section__button">Enviar</button>
    </div>
  </section>

  <section class="section section--send" *ngIf="isLoading">
    <div class="section__content">

      <div class="loading">
        <div class="loading__dot"></div>
        <div class="loading__dot"></div>
        <div class="loading__dot"></div>
      </div>

    </div>
  </section>

  <section class="section" *ngIf="isSend">
    <header class="section__header">
      <mat-icon class="section__icon section__icon--header" routerLink="/dashboard">close</mat-icon>
    </header>

    <div class="section__content section__content--center">
      <mat-icon class="section__icon section__icon--file">check_circle</mat-icon>
      <h3 class="section__title section__title--center">Tarefa enviada com sucesso!</h3>
    </div>

    <footer class="section__footer">
      <button type="submit" class="section__button" routerLink="/dashboard">
        <mat-icon>house</mat-icon>
      </button>
    </footer>
  </section>

  <section class="section" *ngIf="isError">
    <header class="section__header">
      <mat-icon class="section__icon section__icon--header" routerLink="/dashboard">close</mat-icon>
    </header>

    <div class="section__content section__content--center">
      <mat-icon class="section__icon section__icon--file">cancel</mat-icon>
      <h3 class="section__title section__title--center">Falha ao enviar tarefa!</h3>
    </div>
  </section>
</form>
