$light-white: #FCFCFC;
$light-gray: #303030;

$dark-blue: #003278;
$dark-white: #F3F3F3;
$dark-black: #1F1F1F;

$gap-small: clamp(0.75rem, 0.75rem + 0vw, 0.75rem);
$gap-medium: clamp(1.25rem, 1.25rem + 0vw, 1.25rem);

$padding-small: clamp(0.625rem, 0.625rem + 0vw, 0.625rem);
$padding-medium: clamp(1.25rem, 1.0983rem + 0.6472vw, 1.875rem);

$border--small: 12px;

$fs-small: clamp(0.75rem, 0.7197rem + 0.1294vw, 0.875rem);
$fs-medium: clamp(1rem, 0.9393rem + 0.2589vw, 1.25rem);
$fs-large: clamp(1.25rem, 1.1893rem + 0.2589vw, 1.5rem);

$img-small: clamp(1.0625rem, 1.0625rem + 0vw, 1.0625rem);
$img-medium: clamp(1.5rem, 1.5rem + 0vw, 1.5rem);
$img-large: clamp(2rem, 2rem + 0vw, 2rem);

.container {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  background-color: $light-white;
}

.section {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: start;
  flex-direction: column;

  &__header {
    width: 100%;
    height: auto;

    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: flex-start;

    gap: $gap-medium;
    padding: $padding-medium;
  }

  &__title {
    color: $dark-black;
    font-weight: 400;
    font-size: $fs-large;
  }

  &__subtitle {
    color: $dark-black;
    font-size: $fs-medium;
  }

  &__content {
    width: 100%;
    height: 100%;

    padding: $padding-medium;

    display: flex;
    flex-direction: column;

    overflow-y: auto;
  }

  &__label {
    width: 100%;
    height: auto;

    color: $dark-black;
    font-size: $fs-medium;

    padding: $padding-medium 0px;

    border-bottom: 2px solid $dark-white;
    transition: background-color 0.2s ease;
  }

  &__input {
    width: 100%;
    height: auto;

    color: $dark-black;
    font-size: $fs-medium;

    border: none;
    border-bottom: 2px solid $dark-white;

    padding-bottom: $padding-medium;

    outline: none;
    background-color: transparent;

    &[type="checkbox"] {
      display: none;
    }

    &[type="checkbox"]:checked+.section__label {
      border-bottom: 2px solid #ececec;
      background-color: $dark-white;
    }

    &[type="file"] {
      display: none;
    }

    &--not-row {
      border: none;
      padding: 0;
    }
  }

  &__footer {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-top: auto;
    padding: $padding-medium;
  }

  &__button {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: $dark-white;
    padding: $padding-small;

    border: none;
    border-radius: $border--small;
    background-color: $dark-blue;
  }

  &__icon {
    width: 100%;
    height: auto;

    font-size: $fs-large;
    color: $light-gray;

    display: flex;
    align-items: center;
    justify-content: start;
  }
}
