<div class="container">
  <div class="header">
    <mat-icon class="header__icon" routerLink="/dashboard">exit_to_app</mat-icon>
    <h2 class="header__title">{{ title }}</h2>
  </div>

  <section class="section" *ngFor="let item of data">
    <div class="card">
      <div class="card__icon">
        <mat-icon>person</mat-icon>
      </div>
      <div class="card__group">
        <ng-container *ngFor="let field of fields">
          <h3 class="card__title" *ngIf="field.name === 'nome'">
            {{ item[field.name] }}
          </h3>
          <p class="card__subtitle" *ngIf="field.name === 'funcao'">
            {{ item[field.name] }}
          </p>
        </ng-container>
      </div>
    </div>
  </section>
</div>
