$light-gray: #878787;
$light-white: #FCFCFC;
$light-red: #ff5757;
$light-green: #4bd28f;

$dark-black: #303030;
$dark-red: #DC3545;
$dark-blue: #003278;
$dark-white: #F3F3F3;

$gp-sm: clamp(0.5rem, 0.5rem + 0vw, 0.5rem);
$gp-md: clamp(1rem, 1rem + 0vw, 1rem);
$gp-lg: clamp(1.5rem, 1.5rem + 0vw, 1.5rem);

$pd-sm: clamp(0.75rem, 0.75rem + 0vw, 0.75rem);
$pd-md: clamp(1.25rem, 1.25rem + 0vw, 1.25rem);

$bd-sm: 2px;
$bd-df: 4px;
$bd-lg: 6px;
$bd-xx: 8px;

$fs-sm: clamp(0.5rem, 0.5rem + 0vw, 0.5rem);
$fs-md: clamp(0.75rem, 0.75rem + 0vw, 0.75rem);
$fs-mdx: clamp(0.8125rem, 0.8125rem + 0vw, 0.8125rem);
$fs-lg: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);

$icon-sm: 24px;
$icon-lg: 80px;

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-large: 1440px;

.container {
  width: 100%;
  min-height: 100dvh;

  display: grid;
  grid-template-rows: auto 1fr;
  align-items: start;
  gap: $gp-md;

  padding: $pd-md;
  background-color: $light-white;

  @media (min-width: $bp-tablet) {
    gap: $gp-lg;
  }
}

.header {
  width: 100%;
  height: auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: $fs-mdx;
    text-align: center;
    color: $dark-black;

    @media (min-width: $bp-tablet) {
      font-size: $fs-lg;
    }
  }

  &__icon {
    width: auto;
    height: auto;
    cursor: pointer;
    color: $dark-blue;
  }
}

.section {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: $gp-sm;

  overflow-y: auto;
}

.card {
  width: 100%;
  height: auto;

  display: grid;
  grid-template-columns: auto 1fr;
  gap: $gp-sm;

  padding: $pd-sm;
  border-radius: $bd-lg;
  border: 2px solid $dark-white;
  background-color: $light-white;

  cursor: pointer;

  &__group {
    display: flex;
    flex-direction: column;
  }

  &__title {
    max-width: 90%;
    font-weight: 600;
    font-size: $fs-md;
    color: $dark-black;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__subtitle {
    font-weight: 600;
    font-size: $fs-md;
    color: $dark-black;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $gp-sm;

    color: $dark-blue;
    border-radius: $bd-lg;
    border: 2px solid $dark-blue;
  }
}
