$light-gray: #878787;
$light-white: #FCFCFC;
$light-red: #ff5757;
$light-green: #4bd28f;

$dark-black: #303030;
$dark-red: #DC3545;
$dark-blue: #003278;
$dark-white: #F3F3F3;

$gp-sm: clamp(0.5rem, 0.5rem + 0vw, 0.5rem);
$gp-md: clamp(1rem, 1rem + 0vw, 1rem);
$gp-lg: clamp(1.5rem, 1.5rem + 0vw, 1.5rem);

$pd-sm: clamp(0.75rem, 0.75rem + 0vw, 0.75rem);
$pd-md: clamp(1.25rem, 1.25rem + 0vw, 1.25rem);

$bd-sm: 2px;
$bd-df: 4px;
$bd-lg: 6px;
$bd-xx: 8px;

$fs-sm: clamp(0.5rem, 0.5rem + 0vw, 0.5rem);
$fs-md: clamp(0.75rem, 0.75rem + 0vw, 0.75rem);
$fs-mdx: clamp(0.8125rem, 0.8125rem + 0vw, 0.8125rem);
$fs-lg: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);

$icon-sm: 24px;
$icon-lg: 80px;

$bp-tablet: 1024px;
$bp-desktop: 1440px;
$bp-large: 1920px;

$bp-tablet-max: 1439px;
$bp-desktop-max: 1919px;

.container {
  width: 100%;
  height: 100dvh;
  padding: $pd-md;
  background-color: $light-white;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: $gp-lg;
}

.header {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

  &__title {
    font-weight: 500;
    font-size: $fs-mdx;
    text-align: center;
  }

  &__button {
    color: $dark-blue;
  }
}

.form {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;

  &__section {
    margin-bottom: 12px;
  }

  &__field {
    width: 100%;
    height: auto;
    border-radius: $bd-lg;
    border: 2px solid $dark-white;
    padding: $pd-sm;

    &-button {
      width: auto;
      height: auto;
      display: flex;
      align-items: start;
      padding: 2px;
      color: $dark-blue;
      border-radius: $bd-lg;
      border: 2px solid $dark-blue;
      background-color: transparent;
    }

    &-flex {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      gap: $gp-md;
    }

    &-file {
      width: 100%;
      height: auto;
      display: flex;
    }

    &-error {
      font-size: $fs-mdx;
      font-weight: 500;
      color: $light-red;
    }
  }

  &__label {
    font-weight: 500;
    color: $dark-blue;
    font-size: $fs-mdx;
  }

  &__input {
    width: 100%;
    height: auto;

    border: none;
    outline: none;

    color: $dark-black;
    font-size: $fs-mdx;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: transparent;

    &-file {
      display: none;
    }
  }

  &__button {
    width: 100%;
    height: auto;
    border: none;
    font-weight: 500;
    font-size: $fs-mdx;
    color: $light-white;
    border: none;
    border-radius: $bd-lg;
    padding: $pd-md;
    margin-top: auto;
    background-color: $dark-blue;
  }

  &__scanner {
    display: flex;
    flex-direction: column;
    gap: $gp-md;
  }

  .scanner {
    width: 100%;
    height: 280px;
    position: relative;
    border-radius: $bd-df;

    &__cam {
      width: 100%;
      height: 100%;
      border-radius: $bd-df;
      object-fit: cover;
    }

    &__close {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      top: 12px;
      right: 12px;
      z-index: 10;
      position: absolute;

      width: 42px;
      height: 42px;

      border: none;
      border-radius: 50%;

      color: $light-white;
      background: rgba(255, 255, 255, 0.2);
    }
  }
}

.loading {
  top: 0;
  left: 0;
  position: fixed;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $gp-md;

  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.5);

  &__title {
    font-size: $fs-lg;
    font-weight: 500;
    color: $light-white;
  }

  &__spinner {
    width: 42px;
    height: 42px;
    border: 4px solid $dark-white;
    border-top-color: $dark-blue;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}

.overlay {
  top: 0;
  left: 0;
  position: fixed;

  width: 100%;
  height: 100%;
  padding: $pd-md;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: $gp-md;

  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  display: flex;
  flex-direction: column;
  gap: $gp-md;

  align-items: center;
  justify-content: center;

  width: 100%;
  height: auto;
  max-width: 400px;

  padding: $pd-md;
  border-radius: $bd-xx;
  background-color: $dark-white;

  &__title {
    font-weight: 500;
    font-size: $fs-lg;
    text-align: center;
    color: $dark-black;

    &-success {
      color: $light-green;
    }

    &-error {
      color: $light-red;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: $fs-mdx;
  }

  &__icon {
    width: 64px;
    height: 64px;

    font-weight: 600;
    font-size: $fs-lg;
    color: $light-white;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    mat-icon {
      width: 42px;
      height: 42px;
      font-size: 42px;
    }

    &-success {
      background: $light-green;
    }

    &-error {
      background: $light-red;
    }
  }

  &__qrcode-actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $gp-sm;
  }

  &__button {
    width: 100%;
    height: auto;

    font-weight: 500;
    font-size: $fs-mdx;

    padding: $pd-sm;
    border: none;
    border-radius: $bd-xx;
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: $gp-sm;

    mat-icon {
      width: 20px;
      height: 20px;
      font-size: 20px;
    }

    &-success {
      color: $light-white;
      background-color: $light-green;
    }

    &-error {
      color: $light-white;
      background-color: $light-red;
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
