<form [formGroup]="createForm" (ngSubmit)="onSubmit()" class="container">

  <section class="section" *ngIf="currentStep === 1  && !isLoading && !isSuccess && !isServerError">
    <header class="section__header">
      <mat-icon routerLink="/dashboard" class="section__icon">close</mat-icon>
      <h1 class="section__title">Qual foi a atividade realizada?</h1>
    </header>

    <div>
      <label class="section__label">
        Insira a descrição da atividade

        <input type="text" formControlName="descricao" placeholder="Digite a descrição" enterkeyhint="next"
          (keydown.enter)="$event.preventDefault(); nextStep()" class="section__input">
      </label>
    </div>

    <footer class="section__footer">
      <button type="button" (click)="nextStep()" [disabled]="!createForm.get('descricao')?.valid"
        class="section__button">Continuar</button>
    </footer>
  </section>

  <section class="section" *ngIf="currentStep === 2 && !isLoading && !isSuccess && !isServerError">
    <header class="section__header">
      <mat-icon (click)="prevStep()" class="section__icon">arrow_back_ios_new</mat-icon>
      <h1 class="section__title">Em que centro de custo a atividade foi realizada?</h1>
    </header>

    <div class="section__content">
      <span class="section__label">Centros de custo cadastrados</span>
      <label *ngFor="let cc of costCenter" class="section__label section__label--list">
        {{ cc }}

        <input type="radio" formControlName="centroCusto" [value]="cc">
      </label>
    </div>

    <footer class="section__footer">
      <button type="button" (click)="nextStep()" [disabled]="!createForm.get('centroCusto')?.valid"
        class="section__button">Continuar</button>
    </footer>
  </section>

  <section class="section" *ngIf="currentStep === 3 && !isLoading && !isSuccess && !isServerError">
    <header class="section__header">
      <mat-icon (click)="prevStep()" class="section__icon">arrow_back_ios_new</mat-icon>
      <h1 class="section__title">Qual a data de <strong>início</strong> da atividade?</h1>
    </header>

    <div>
      <label class="section__label">
        Insira a data inicial

        <input type="date" formControlName="dataInicial" class="section__input">
      </label>
    </div>

    <footer class="section__footer">
      <button type="button" (click)="nextStep()" [disabled]="!createForm.get('dataInicial')?.valid"
        class="section__button">Continuar</button>
    </footer>
  </section>

  <section class="section" *ngIf="currentStep === 4 && !isLoading && !isSuccess && !isServerError">
    <header class="section__header">
      <mat-icon (click)="prevStep()" class="section__icon">arrow_back_ios_new</mat-icon>
      <h1 class="section__title">Qual a data de <strong>término</strong> da atividade?</h1>
    </header>

    <div>
      <label class="section__label">
        Insira a data final

        <input type="date" formControlName="dataFinal" class="section__input">
      </label>
    </div>

    <footer class="section__footer">
      <button type="button" (click)="nextStep()" [disabled]="!createForm.get('dataFinal')?.valid"
        class="section__button">Continuar</button>
    </footer>
  </section>

  <section class="section" *ngIf="currentStep === 5 && !isLoading && !isSuccess && !isServerError">
  <header (click)="prevStep()" class="section__header">
    <mat-icon class="section__icon section__icon--header">arrow_back_ios_new</mat-icon>
    <h1 class="section__title">Selecione quem será bonificado</h1>
  </header>

  <div class="section__content">
    <input
        type="text"
        [(ngModel)]="searchEmployee"
        [ngModelOptions]="{standalone: true}"
        (input)="applyFilters()"
        placeholder="Buscar Colaborador"
        class="section__input">

    <span class="section__label">
      Lista de colaboradores
    </span>

    <label
      *ngFor="let emp of filteredEmployees; let i = index"
      class="section__label section__label--list">
      {{ emp.nome }}

      <input
        type="checkbox"
        [formControl]="getBonificadoControl(employees.indexOf(emp))">
    </label>
  </div>

  <footer class="section__footer">
    <button
      type="button"
      (click)="nextStep()"
      class="section__button">Continuar</button>
  </footer>
</section>

  <ng-container *ngFor="let funcao of selectedEmployeeFunctions; let i = index">
    <section class="section" *ngIf="currentStep === 6 + i && !isLoading && !isSuccess && !isServerError">
      <header class="section__header">
        <mat-icon (click)="prevStep()" class="section__icon">arrow_back_ios_new</mat-icon>
        <h1 class="section__title">Qual o valor da bonificação para <strong>{{ funcao }}?</strong></h1>
      </header>

      <div>
        <label class="section__label">
          Insira o valor

          <input type="number" placeholder="Digite o valor" [formControl]="getValorFuncaoControl(i)" enterkeyhint="next"
            (keydown.enter)="$event.preventDefault(); nextStep()" class="section__input">
        </label>
      </div>

      <footer class="section__footer">
        <button type="button" (click)="nextStep()" class="section__button">Continuar</button>
      </footer>
    </section>
  </ng-container>

  <section class="section"
    *ngIf="currentStep === 6 + selectedEmployeeFunctions.length && !isLoading && !isSuccess && !isServerError">
    <header class="section__header">
      <mat-icon class="section__icon" (click)="prevStep()">arrow_back_ios_new</mat-icon>
      <h1 class="section__title">Anexe a foto da sua prancheta</h1>
    </header>

    <div>
      <label class="section__label section__label--file">
        <mat-icon class="section__icon section__icon--file">
          cloud_upload
        </mat-icon>

        <span class="section__span">
          {{ uploadedFile ? uploadedFile.name : 'Clique aqui para anexar a imagem' }}
        </span>

        <input type="file" accept="image/*" (change)="onFileChange($event)" class="section__input--file">
      </label>
    </div>

    <footer class="section__footer">
      <button type="submit" [disabled]="!uploadedFile" class="section__button">Enviar</button>
    </footer>
  </section>

  <section class="section" *ngIf="isLoading && !isSuccess && !isServerError">
    <div class="loading">
      <div class="loading__dot"></div>
      <div class="loading__dot"></div>
      <div class="loading__dot"></div>
    </div>
  </section>

  <section class="section" *ngIf="isSuccess && !isLoading && !isServerError">
    <header class="section__header">
      <mat-icon routerLink="/dashboard" class="section__icon">close</mat-icon>
    </header>

    <div class="section__content section__content--status">
      <img [src]="successIllustration" class="section__image">
      <h3 class="section__title">Show de bola!</h3>
      <p class="section__subtitle">
        Sua tarefa foi cadastrada com sucesso e será analisada pelo setor responsável. Missão quase completa!
      </p>
    </div>

    <footer class="section__footer">
      <button type="button" routerLink="/dashboard" class="section__button">Início</button>
    </footer>
  </section>

  <section class="section" *ngIf="isServerError && !isLoading && !isSuccess">
    <header class="section__header">
      <mat-icon routerLink="/dashboard" class="section__icon">close</mat-icon>
    </header>

    <div class="section__content section__content--status">
      <img [src]="serverErrorIllustration" class="section__image">
      <h3 class="section__title">Não pode ser...!</h3>
      <p class="section__subtitle">
        Parece que nosso servidor não está funcionando como deveria. Por favor, tente outra hora!
      </p>
    </div>

    <footer class="section__footer">
      <button type="button" routerLink="/dashboard" class="section__button">Sair</button>
    </footer>
  </section>

</form>
