<form [formGroup]="createForm" (ngSubmit)="onSubmit()" class="container">
  <section class="section" *ngIf="currentStep === 1 && !isLoading && !isSuccess && !isNotFound && !isServerError">
    <header class="section__header">
      <mat-icon routerLink="/dashboard" class="section__icon">close</mat-icon>
      <h3 class="section__title">Informe o <strong>ID</strong> do equipamento locado</h3>
    </header>

    <div>
      <label class="section__label">Insira o código</label>
      <input
      type="number"
      placeholder="idmov"
      inputmode="numeric"
      enterkeyhint="next"
      formControlName="idmov"
      (keydown.enter)="$event.preventDefault(); nextStep()"
      class="section__input">
    </div>

    <footer class="section__footer">
      <button type="button" (click)="nextStep()" [disabled]="!createForm.get('idmov')?.valid" class="section__button">
        Continuar
      </button>
    </footer>
  </section>

  <section class="section" *ngIf="currentStep === 2 && !isLoading && !isSuccess && !isNotFound && !isServerError">
    <header class="section__header">
      <mat-icon (click)="prevStep()" class="section__icon">arrow_back_ios</mat-icon>
      <h3 class="section__title">Qual o <strong>número</strong> do documento da locação?</h3>
    </header>

    <div>
      <label class="section__label">Insira o número</label>
      <input
      type="number"
      placeholder="Número do documento"
      inputmode="numeric"
      enterkeyhint="next"
      formControlName="numero_documento"
      (keydown.enter)="$event.preventDefault(); nextStep()"
      class="section__input">
    </div>

    <footer class="section__footer">
      <button type="button" (click)="nextStep()" [disabled]="!createForm.get('numero_documento')?.valid" class="section__button">
        Continuar
      </button>
    </footer>
  </section>

  <section class="section" *ngIf="currentStep === 3 && !isLoading && !isSuccess && !isNotFound && !isServerError">
    <header class="section__header">
      <mat-icon (click)="prevStep()" class="section__icon">arrow_back_ios</mat-icon>
      <h3 class="section__title">Anexe uma foto comprovando a retirada do(s) equipamento(s)</h3>
    </header>

    <div>
      <label class="section__label section__label--file">
        <mat-icon class="section__icon section__icon--file">
          cloud_upload
        </mat-icon>

        <span class="section__span">
          {{ uploadedFile ? uploadedFile.name : 'Clique aqui para anexar a imagem' }}
        </span>

        <input
        type="file"
        accept="image/*"
        (change)="onFileChange($event)"
        class="section__input--file">
      </label>
    </div>

    <footer class="section__footer">
      <button
      type="submit"
      [disabled]="!uploadedFile"
      class="section__button">
        Enviar
      </button>
    </footer>
  </section>

  <section class="section" *ngIf="isLoading && !isSuccess && !isNotFound && !isServerError">
    <div class="loading">
      <div class="loading__dot"></div>
      <div class="loading__dot"></div>
      <div class="loading__dot"></div>
    </div>
  </section>

  <section class="section" *ngIf="isSuccess && !isLoading && !isNotFound && !isServerError">
    <header class="section__header">
      <mat-icon routerLink="/dashboard" class="section__icon">close</mat-icon>
    </header>

    <div class="section__content">
      <img [src]="successIllustration" class="section__image">
      <h3 class="section__title">Bom trabalho!</h3>
      <p class="section__subtitle">
        Tudo certo com sua locação! O setor responsável dará continuidade a partir de agora.
      </p>
    </div>

    <footer class="section__footer">
      <button type="button" routerLink="/dashboard" class="section__button">Início</button>
    </footer>
  </section>

  <section class="section" *ngIf="isNotFound && !isLoading && !isSuccess && !isServerError">
    <header class="section__header">
      <mat-icon routerLink="/dashboard" class="section__icon">close</mat-icon>
    </header>

    <div class="section__content">
      <img [src]="notFoundIllustration" class="section__image">
      <h3 class="section__title">Que pena!</h3>
      <p class="section__subtitle">
        Não conseguimos encontrar o idmov que você informou. Tente novamente ou retorne para o início.
      </p>
    </div>

    <footer class="section__footer">
      <button type="button" (click)="onTryAgain()" class="section__button">Tentar novamente</button>
    </footer>
  </section>

  <section class="section" *ngIf="isServerError && !isLoading && !isSuccess && !isNotFound">
    <header class="section__header">
      <mat-icon routerLink="/dashboard" class="section__icon">close</mat-icon>
    </header>

    <div class="section__content">
      <img [src]="serverErrorIllustration" class="section__image">
      <h3 class="section__title">Não pode ser...!</h3>
      <p class="section__subtitle">
        Parece que nosso servidor não está funcionando como deveria. Por favor, tente outra hora!
      </p>
    </div>

    <footer class="section__footer">
      <button type="button" routerLink="/dashboard" class="section__button">Sair</button>
    </footer>
  </section>
</form>
