$fs-xs: 12px;
$fs-sm: 14px;
$fs-md: 16px;
$fs-lg: 18px;
$fs-xl: 20px;
$fs-xx: 24px;

$pd-xs: 4px;
$pd-sm: 8px;
$pd-md: 12px;
$pd-lg: 16px;
$pd-xl: 24px;

$gp-xs: 4px;
$gp-sm: 8px;
$gp-md: 12px;
$gp-lg: 16px;
$gp-xl: 24px;

$mg-xs: 4px;
$mg-sm: 8px;
$mg-md: 12px;
$mg-lg: 16px;
$mg-xl: 24px;

$bd-df: 6px;

$dark-blue: #003278;
$dark-white: #F3F3F3;
$dark-black: #050505;
$dark-gray: #808080;

$light-blue: #0c67f6;
$light-white: #FCFCFC;
$light-gray: #C0C0C0;
$light-black: #303030;

.container {
  width: 100vw;
  height: 100vh;
  height: 100dvh;

  padding: $pd-xl;
  background-color: $dark-white;
}

.section {
  width: 100%;
  height: 100%;

  gap: $gp-xl;
  display: grid;
  grid-template-rows: auto 1fr auto;

  &__header {
    gap: $gp-lg;

    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
  }

  &__content {
    gap: $gp-xl;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  &__footer {
    width: 100%;
    height: auto;
  }

  &__label {
    color: $dark-gray;

    &--file {
      width: 100%;
      height: 100%;

      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;

      gap: $gp-lg;

      border-radius: $bd-df;
      border: 2px dashed $light-blue;
    }
  }

  &__input {
    width: 100%;
    height: auto;

    font-weight: 500;
    font-size: $fs-lg;

    border: none;
    outline: none;
    padding: $pd-md 0;

    color: $dark-gray;
    background-color: transparent;
    border-bottom: 1px solid $light-gray;


    &::placeholder {
      color: $light-gray;
    }

    option {
      color: $dark-gray;
    }

    &--file {
      display: none;
    }
  }

  &__title {
    color: $light-black;

    font-weight: 500;
    font-size: $fs-xx;
  }

  &__subtitle {
    color: $dark-black;
    font-size: $fs-md;
  }

  &__button {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    border: none;
    border-radius: $bd-df;
    padding: $pd-lg;

    color: $dark-white;
    background-color: $light-blue;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &--file {
      width: 100%;
      height: auto;
      font-size: 54px;
      color: $light-blue;
    }
  }

  &__image {
    width: 250px;
    height: auto;
  }
}

.loading {
  height: calc(100vh - (2 * $pd-xl));

  gap: $gp-sm;
  display: flex;
  align-items: center;
  justify-content: center;

  &__dot {
    width: $fs-xs;
    height: $fs-xs;
    border-radius: 50%;
    background-color: $light-blue;
    animation: bounce 1.2s infinite ease-in-out;

    &:nth-child(1) {
      animation-delay: 0s;
    }

    &:nth-child(2) {
      animation-delay: 0.2s;
    }

    &:nth-child(3) {
      animation-delay: 0.4s;
    }
  }
}

@keyframes bounce {

  0%,
  80%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  40% {
    transform: scale(1);
    opacity: 1;
  }
}
